</main>
<footer style="display: none;">
  <div class="container">
    <div class="row">
      {% if informations or blog %}
        <div class="col-sm-3">
          <h5>{{ text_information }}</h5>
          <ul class="list-unstyled">
            {% if blog %}
              <li><a href="{{ blog }}">{{ text_blog }}</a></li>
            {% endif %}
            {% for information in informations %}
              <li><a href="{{ information.href }}">{{ information.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          {% if gdpr %}
            <li><a href="{{ gdpr }}">{{ text_gdpr }}</a></li>
          {% endif %}
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          {% if affiliate %}
            <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          {% endif %}
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  
  </div>
</footer>

 <!-- Footer -->
 <footer  class="tf-footer style-4">
            <div class="container d-flex">
                <span class="br-line"></span>
            </div>
            <div class="footer-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 mb_30 mb-xl-0">
                            <div class="footer-col-block">
                                <p class="footer-heading footer-heading-mobile">Contact us</p>
                                <div class="tf-collapse-content">
                                    <ul class="footer-contact">
                                        <li>
                                            <i class="icon icon-phone"></i>
                                            <span class="br-line"></span>
                                            <a href="tel:+19499006910" class="h6 link"> +1 (949) 900-6910</a>
                                        </li>
                                        <li>
                                            <i class="icon icon-envelope-simple"></i>
                                            <span class="br-line"></span>
                                            <a href="mailto:info@zaynjewels.com" class="h6 link"> info@zaynjewels.com</a>
                                        </li>
                                    </ul>
                                    <div class="social-wrap">
                                        <ul class="tf-social-icon">
                                            <li>
                                                <a href="https://www.facebook.com/zaynjewels/" target="_blank" class="social-facebook">
                                                    <span class="icon"><i class="icon-fb"></i></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/zaynjewels/" target="_blank" class="social-instagram">
                                                    <span class="icon"><i class="icon-instagram-logo"></i></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UC0KmddVZ3BX4Ly5jjBRW7SA" target="_blank" class="social-youtube">
                                                    <span class="icon"><i class="icon-youtube-logo"></i></span>
                                                </a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-6 mb_30 mb-xl-0">
                            <div class="footer-col-block footer-wrap-1 ms-xl-auto">
                                <p class="footer-heading footer-heading-mobile">Useful Links</p>
                                <div class="tf-collapse-content">
                                    <ul class="footer-menu-list">
                                        <li><a href="faq.html" class="link h6">CAD/CAM Services</a></li>
                                        <li><a href="shop-default.html" class="link h6">Retail Locations</a></li>
                                        <li><a href="track-order.html" class="link h6">Education
                                        </a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb_30 mb-sm-0">
                            <div class="footer-col-block footer-wrap-2 mx-xl-auto">
                                <p class="footer-heading footer-heading-mobile">Information</p>
                                <div class="tf-collapse-content">
                                    <ul class="footer-menu-list">
                                        <li><a href="about-us.html" class="link h6">About Us</a></li>
                                        <li><a href="faq.html" class="link h6">Privacy Policy</a></li>
                                        <li><a href="faq.html" class="link h6">Contact Us</a></li>
                                     </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="footer-col-block">
                                <p class="footer-heading footer-heading-mobile">Let’s keep in touch</p>
                                <div class="tf-collapse-content">
                                    <div class="footer-newsletter">
                                        <p class="h6 caption">
                                            Enter your email below to be the first to know about new collections and product launches.
                                        </p>
                                        <form class="form_sub has_check" id="subscribe-form">
                                            <div class="f-content" id="subscribe-content">
                                                <fieldset class="col">
                                                    <input class="style-stroke" id="subscribe-email" type="email" name="email-form"
                                                        placeholder="Enter your email" required>
                                                </fieldset>
                                                <button id="subscribe-button" type="button" class="tf-btn animate-btn type-small-2">
                                                    Subscribe
                                                    <i class="icon icon-arrow-right"></i>
                                                </button>
                                            </div>
                                           
                                            <div id="subscribe-msg"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="inner-bottom">
                    <div class="list-hor">
                          <p class="h6">Copyright © 2025 Zayn Jewels. All rights reserved.</p>
                        </div>
                    <div class="list-hor">
                        
                     <img src="https://zaynjewels.com/image/new/WJA_logo.png" alt="WJA Logo" style="max-width: 130px; margin-top: -50px;" class="wja-logo">
                     </div>
                     
                      
                        <div class="list-hor flex-wrap">
                            <ul class="payment-method-list">
                                <li><img src="assets/images/payment/visa.png" alt="Payment"></li>
                                <li><img src="assets/images/payment/master-card.png" alt="Payment"></li>
                                <li><img src="assets/images/payment/amex.png" alt="Payment"></li>
                                <li><img src="assets/images/payment/discover.png" alt="Payment"></li>
                                <li><img src="assets/images/payment/paypal.png" alt="Payment"></li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->

</div>

</main>
{{ cookie }}

    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/carousel.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/lazysize.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/infinityslide.js"></script>
    <script src="assets/js/parallaxie.js"></script>
    <script src="assets/js/count-down.js"></script>
    <script src="assets/js/main.js"></script>


{% for script in scripts %}
  <script src="{{ script.href }}" type="text/javascript"></script>
{% endfor %}

 <!-- Search -->
 <div class="modal modalCentered fade modal-search" id="search">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
                <div>
                    <form action="{{ action }}" method="post" class="form-search style-2">
                        <fieldset>
                            <input type="text" placeholder="Search item" class="style-stroke" name="text" tabindex="0" value="{{ search }}" aria-required="true"
                                required="">
                        </fieldset>
                        <button type="submit" class="link"><i class="icon icon-magnifying-glass"></i></button>
                    </form>
                    <ul class="quick-link-list">
                        <li><a href="shop-default-list.html" class="link-item text-main h6 link">Graphic tees</a></li>
                        <li><a href="shop-default-list.html" class="link-item text-main h6 link">Plain t-shirts</a></li>
                        <li><a href="shop-default-list.html" class="link-item text-main h6 link">Vintage t-shirts</a></li>
                        <li><a href="shop-default-list.html" class="link-item text-main h6 link">Band tees</a></li>
                        <li><a href="shop-default-list.html" class="link-item text-main h6 link">Custom t-shirts</a></li>
                        <li><a href="shop-default-list.html" class="link-item text-main h6 link">Oversized t-shirts</a></li>
                        <li><a href="shop-default-list.html" class="link-item text-main h6 link">Crew neck t-shirts</a></li>
                    </ul>
                </div>
                <div class="view-history-wrap">
                    <h4 class="title">History</h4>
                    <div class="view-history-list">
                        <a class="item text-main link h6" href="shop-default-list.html">
                            <span>High Visibility T Shirt Short Sleeve Reflective</span>
                            <i class="icon icon-arrow-top-right"></i>
                        </a>
                        <a class="item text-main link h6" href="shop-default-list.html">
                            <span>Short sleeve round neck t-shirt</span>
                            <i class="icon icon-arrow-top-right"></i>
                        </a>
                        <a class="item text-main link h6" href="shop-default-list.html">
                            <span>Fashionable oversized hoodie for women</span>
                            <i class="icon icon-arrow-top-right"></i>
                        </a>
                        <a class="item text-main link h6" href="shop-default-list.html">
                            <span>Queen fashion long sleeve shirt, basic t-shirt</span>
                            <i class="icon icon-arrow-top-right"></i>
                        </a>
                        <a class="item text-main link h6" href="shop-default-list.html">
                            <span>Lee Women's Wrinkle Free Relaxed Fit Straight Leg Pant</span>
                            <i class="icon icon-arrow-top-right"></i>
                        </a>
                        <a class="item text-main link h6" href="shop-default-list.html">
                            <span>Women's Summer Oversized T-Shirt Casual Office Fashion</span>
                            <i class="icon icon-arrow-top-right"></i>
                        </a>
                    </div>
                </div>
                <div class="trend-product-wrap">
                    <div class="heading">
                        <h4 class="title flex-grow-1">Trending product</h4>
                        <a href="#" class="tf-btn-line has-icon none-line fw-medium fs-18 text-normal">
                            View All Product
                            <i class="icon icon-caret-circle-right"></i>
                        </a>
                    </div>
                    <div class="trend-product-inner">
                        <div class="trend-product-list">
                            <div class="trend-product-item">
                                <div class="image">
                                    <img class="lazyload" src="images/products/product-1.jpg" data-src="images/products/product-1.jpg" alt="Product">
                                </div>
                                <div class="content">
                                    <div class="text-small text-main-2 sub">T-shirt</div>
                                    <h6 class="title">
                                        <a href="product-detail.html" class="link">Queen fashion long sleeve shirt, basic t-shirt</a>
                                    </h6>
                                    <div class="price-wrap">
                                        <span class="price-old h6 fw-normal">$99,99</span>
                                        <span class="price-new h6">$69,99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="trend-product-item">
                                <div class="image">
                                    <img class="lazyload" src="images/products/product-7.jpg" data-src="images/products/product-7.jpg" alt="Product">
                                </div>
                                <div class="content">
                                    <div class="text-small text-main-2 sub">Hoodie</div>
                                    <h6 class="title">
                                        <a href="product-detail.html" class="link">Champion Reverse Weave Pullover</a>
                                    </h6>
                                    <div class="price-wrap">
                                        <span class="price-old h6 fw-normal">$149.99</span>
                                        <span class="price-new h6">$109.99</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="trend-product-list">
                            <div class="trend-product-item">
                                <div class="image">
                                    <img class="lazyload" src="images/products/product-5.jpg" data-src="images/products/product-5.jpg" alt="Product">
                                </div>
                                <div class="content">
                                    <div class="text-small text-main-2 sub">Shorts</div>
                                    <h6 class="title">
                                        <a href="product-detail.html" class="link">Columbia PFG Fishing Shirt</a>
                                    </h6>
                                    <div class="price-wrap">
                                        <span class="price-old h6 fw-normal">$109.99</span>
                                        <span class="price-new h6">$74.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="trend-product-item">
                                <div class="image">
                                    <img class="lazyload" src="images/products/product-9.jpg" data-src="images/products/product-9.jpg" alt="Product">
                                </div>
                                <div class="content">
                                    <div class="text-small text-main-2 sub">Sweatshirt</div>
                                    <h6 class="title">
                                        <a href="product-detail.html" class="link">Puma Essentials Graphic Tee</a>
                                    </h6>
                                    <div class="price-wrap">
                                        <span class="price-old h6 fw-normal">$69.99</span>
                                        <span class="price-new h6">$49.99</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search -->

</body></html>
